on early-init 
     start adbd
     write /sys/module/musb_hdrc/parameters/kernel_init_done 1

on fs
    wait /dev/block/platform/bootdevice/
    symlink /dev/block/platform/bootdevice/ /dev/block/bootdevice
    write /sys/class/power_supply/usb/otg_switch 1
    write /sys/class/oplus_chg/usb/otg_switch 1

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1

on post-fs
    # Support A/B feature for EMMC and UFS boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

