import /system/etc/init/init.safailnet.rc

on init
    mount none /vendor/lost+found /vendor/overlay bind
    setprop sys.usb.ffs.aio_compat 1
    setprop persist.vendor.vilte_support 0

on fs
    write /proc/sys/vm/swappiness 60
    
on post-fs-data
    # Services
    stop console

on property:sys.boot_completed=1
    # EAS
    write /sys/devices/system/cpu/eas/enable 1

    # switch to schedutil
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "schedutil"