import /system/etc/init/init.safailnet.rc

on init
    mount none /vendor/lost+found /vendor/overlay bind
    setprop sys.usb.ffs.aio_compat 1
    setprop persist.vendor.vilte_support 0

on post-fs-data
    # Services
    stop console

    rm /data/debug.logcat.txt
    rm /data/debug.logcat.txt

service debug_kernel /system/bin/sh -c "cat /proc/kmsg > /data/debug.kernel.txt"
    class main
    user root
    oneshot

service debug_logcat /system/bin/logcat -f /data/debug.logcat.txt -v threadtime *:E
    class main
    user root
    group system


service debug_properties /system/bin/sh -c "getprop > /data/debug.properties.txt"
    class main
    user root
    oneshot

service debug_roottree /system/bin/sh -c "ls -la / > /data/debug.roottree.txt"
    class main
    user root
    oneshot

on property:sys.boot_completed=1
    # OTG
    write /sys/class/power_supply/usb/otg_switch 1
    # EAS
    write /sys/devices/system/cpu/eas/enable 1

    # switch to schedutil
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "schedutil"

on boot
    chmod 0664 /sys/class/leds/lcd-backlight/max_brightness
    chown system system /sys/class/leds/lcd-backlight/max_brightness
    chmod 0664 /sys/class/leds/red/led_time
    chown system system /sys/class/leds/red/led_time
    chmod 0664 /sys/class/leds/red/max_brightness
    chown system system /sys/class/leds/red/max_brightness
